:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #2E2F42 ;
    --primary-secondary-color: #434455 ;
    --primary-third-color: #4D5AE5 ;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

.section {
    padding-top: 96px;
    padding-bottom: 128px;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .section {
        padding-top: 96px;
        padding-bottom: 104px;
    }
}

/* desctop screen */
@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section-content-wrapper {
    /* phone screen */
    min-width: 320px;
    max-width: 426px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    height: 100%
    /* width: 1158px;
    ;
    */
}

@media screen and (max-width:767.98px) {
    .page-header-wrapper.section-content-wrapper {
            max-width: 100%;
        }
}


/* tablet screen */
@media screen and (min-width: 768px) {
    .section-content-wrapper {
        max-width: 768px;
    }
}

/* desctop screen */
@media screen and (min-width: 1200px) {
    .section-content-wrapper {
        max-width: 1158px;
    }
}

/* ======================== COMPONENTS ======================== */
.page-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    /* padding-top: 24px;
    padding-bottom: 24px; */
}

.logo-first-part {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* ======================== /COMPONENTS ======================== */

/* ======================== HEADER ======================== */
.page-header {
    height: 72px;
}
.portfolio {
    border-bottom: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.page-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.page-nav {
    display: flex;
}

/* .logo {
    margin-right: 77px;
} */

.menu-toggle {
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 77px;
}


.menu-item {
    position: relative;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}


.menu-link {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 6px;
    padding-right: 6px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-third-color);
}


/* .is-active {
    color: var(--primary-third-color);
}

@media screen and (min-width: 768px) {
    .is-active::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #4D5AE5;
            border-radius: 2px;
            display: block;
            margin-top: 20px;
            left: 0;
        }
} */


.list {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .list {
        display: flex;
        align-items: center;
    }
}

/* desctop screen */
@media screen and (min-width: 1200px) {
    .list {
        display: flex;
        align-items: center;
    }
}



@media screen and (max-width: 767px) {
    .header-menu {
        display: none;
    }

    .header-contacts {
        display: none;
    }
}


@media screen and (min-width:768px) and (max-width:1199.98px) {
    .header-contacts {
        display: flex;
        flex-direction: column;
    }

}


.mail {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 1200px) {
    .mail {
        font-size: 16px;
        margin-right: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}



.mail:hover,
.mail:focus {
    color: var(--primary-third-color);
}

.phone-number {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
    .phone-number {
        font-size: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.phone-number:hover,
.phone-number:focus {
    color: var(--primary-third-color);
}
/* ======================== /HEADER ======================== */

/* ======================== HERO ======================== */
.hero {
    background-color: var(--primary-text-color);
}

.section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-size: cover;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    /* phone screen */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-mob@2x.jpg);
    }
}


@media screen and (max-width: 767.98px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-mob.jpg);
    }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2),
(max-width: 767.98px) and (min-resolution: 192dpi),
(max-width: 767.98px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-mob@2x.jpg);
    }
}

/* screen >769 */
@media screen and (min-width: 769px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-tabl.jpg);
    }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
(min-width: 769px) and (min-resolution: 192dpi),
(min-width: 769px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-tabl@2x.jpg);
    }
}

/* screen >1200 */
@media screen and (min-width: 1200px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg.jpg);
    }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 192dpi),
(min-width: 1200px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero/bg-desk@2x.jpg);
    }
}


/* tablet screen */
@media screen and (min-width: 768px) {
    .section-hero {
        padding-top: 112px;
        padding-bottom: 108px;
    }
}

/* desctop screen */
@media screen and (min-width: 1200px) {
    .section-hero {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 72px;
}

/* tablet screen */
@media screen and (min-width: 768px) {
    .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
    }
}

/* desctop screen */
@media screen and (min-width: 1200px) {
    .main-title {
        font-weight: 600;
        margin-bottom: 48px;
    }
}

.modal-btn {
    padding: 16px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ======================== /HERO ======================== */

/* ======================== ABOUT ======================== */
/* .section-strategy {
    padding-top: 120px;
} */

@media screen and (max-width: 1199.98px) {
    .section-strategy {
    padding-top: 96px;
    padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .section-strategy {
    padding-top: 120px;
    }
}

/* .section-content-wrapper::before {
    content: "";
    display: block;
    width: 264px;
    height: 112px;
    left: 0px;
    top: 0px;
    background-color: #F4F4FD;
    border-radius: 4px;

} */

.plus-list {
    display: flex;
    row-gap: 72px;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .plus-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px
    }
}

@media screen and (min-width: 1200px) {
    .plus-list {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
    }
}

.plus-list-item {
    flex-basis: calc((100% - 0px)/1);
}

@media screen and (min-width: 768px) {
    .plus-list-item {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .plus-list-item {
        flex-basis: calc((100% - 72px)/4);
    }
}



@media screen and (min-width: 768px) {
    .plus-list-item {
        flex-basis: calc((100% - 24px)/2);
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .plus-list-item {
        flex-basis: calc((100% - 72px)/4);
        margin: 0;
    }
}

.plus-list-picture {
    /* display: flex;
    flex-basis: calc((100% - 72px)/4);
    margin-bottom: 8px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    justify-content: center;
    align-items: center; */
    display: none;
}

@media screen and (min-width: 768px) {
    .plus-list-picture {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .plus-list-picture {
    display: flex;
    flex-basis: calc((100% - 72px)/4);
    margin-bottom: 8px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    }
}

/* .plus-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.plus-list-title {
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
    text-align: center;
}


@media screen and (max-width: 1199.98px) {
    .plus-list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }
    
}

@media screen and (min-width: 767.98px) {
    .plus-list-title {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .plus-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}



.plus-list-desc {
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
}

/* @media screen and (max-width: 767.98px) {
    .plus-list-desc {
        margin-bottom: 72px;
    }
    
} */

@media screen and (max-width: 1199.98px) {
    .plus-list-desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        
    }
}

@media screen and (min-width: 1200px) {
    .plus-list-desc {
        font-weight: 400;

    }
}
/* ======================== /ABOUT ======================== */

/* ======================== WHAT DOING ======================== */
@media screen and (max-width: 1199.98px) {
    .section-doing {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .section-doing {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
    .work-list {
            flex-wrap: wrap;
            gap: 24px;
        }
        
    .work-list-card {
        flex-basis: calc((100% - 48px)/3);
            }
}


/* .work-list-card:not(:nth-child(3n)) {
    margin-right: 24px;
} */
/*======================== /WHAT DOING ========================  */

/* ======================== OUR TEAM ======================== */
.our-team {
    background-color: #F4F4FD;
}

.command-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    padding: 0 68px;
}

@media screen and (min-width: 768px) {
    .command-list {
        row-gap: 64px;
        column-gap: 24px;
        padding: 0 93px;
    }
    
}

@media screen and (min-width: 1200px) {
    .command-list {
        gap: 24px;
        padding: 0;
    }
}

.command-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 0px)/1);
}

@media screen and (min-width: 768px) {
    .command-item {
        flex-basis: calc((100% - 24px)/2);
    }

}

@media screen and (min-width: 1200px) {
    .command-item {
        flex-basis: calc((100% - 72px)/4);
    }
       
}

.command-item-content-wrapper {
    /* padding-top: 32px;
    padding-bottom: 32px; */
    padding: 32px 16px;
}

.command-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.command-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

/* ======================== /OUR TEAM ======================== */

/* ======================== CUSTOMERS ======================== */
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .customers {
            padding-top: 120px;
            padding-bottom: 120px;
        }
}


.customers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
}

.customers-list-item {
    flex-basis: calc((100% - 16px)/2) ;
}

@media screen and (min-width: 768px) {
    .customers-list-item {
            flex-basis: calc((100% - 48px)/3);
        }
}

@media screen and (min-width: 1200px) {
    .customers-list-item {
        flex-basis: calc((100% - 120px)/6);
      
    }
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: #4D5AE5;
}

.customers-list-link:hover .customers-list-icon {
    fill: #4D5AE5 ;
}


/* ======================== /CUSTOMERS ======================== */

/* ======================== FOOTER ======================== */
.footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;

}

@media screen and (min-width: 768px) {
    .footer-content {
        row-gap: 72px;
        column-gap: 24px;
        /* justify-content: flex-start; */
        /* margin-left: 108px; */
    }
}

@media screen and (min-width: 1200px) {
    .footer-content {
            flex-wrap: nowrap;
            row-gap: 0;
            column-gap: 0;
            margin-left: auto;
        }
}

.footer-content-first-part {
    width: 264px;
}

@media screen and (min-width: 1200px) {
    .footer-content-first-part {
            margin-right: 120px;
        }
}

.logo-footer {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .logo-footer {
       justify-content: flex-start;
    }
}

.footer-content-second-part {
    width: 208px;
}

@media screen and (min-width: 1200px) {
    .footer-content-second-part {
            margin-right: 80px;
        }
}

@media screen and (max-width: 767.98px) {
    .footer-content-third-part {
            width: 100%;
        }
}


.footer-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.logo-second-part {
    color: #F4F4FD;
}

.footer-desc {
    width: 264px;
    margin-top: 16px;
}

.footer-second-part-title {
    width: 208px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media screen and (min-width: 767.98px) {
    .footer-second-part-title {
        
    }
}

.footer .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-link:hover,
.social-list-link:focus {
    background-color: #31D0AA;
}

.footer-third-part-item {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media screen and (max-width: 767.98px) {
    .footer-third-part-item {
        text-align: center;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .footer-form {
        display: flex;
        flex-direction: row;
    }
}


.footer-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: center;
    padding: 8px 24px;
    background: var(--primary-third-color);
    border-radius: 4px;
    border: none;
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 24px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .footer-form-submit {
        margin-left: 24px;
    }
}

.footer-form-submit:hover,
.footer-form-submit:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn-icon {
    margin-left: 16px;
}

.footer-form-input {
    outline: none;
    padding: 8px 16px;
    min-width: 264px;
    min-height: 40px;
    background-color: var(--primary-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

@media screen and (max-width: 767.98px) {
    .footer-form-input {
        margin-bottom: 16px;
    }
}

.footer-form-input:focus {
    outline: none;
    border-color: var(--primary-third-color);
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

/* ======================== /FOOTER ======================== */

/*======================== SECOND PAGE ======================== */
.main-portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .main-portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .main-portfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }
}

/*======================== FILTERS ========================  */

.filters-btn-wraper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .filters-btn-wraper {
        /* display: flex; */
        align-items: center;
        justify-content: center;
        margin-bottom: 64px;
        }
}

@media screen and (min-width: 1200px) {
    .filters-btn-wraper {
        margin-bottom: 72px;
    }
}
.filter-list {
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
}

@media screen and (min-width: 768px) {
    .filter-list {
        flex-wrap: nowrap;
        row-gap: 0;
    }
}

.filter-btn {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-third-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: var(--primary-third-color);
    border: 1px solid var(--primary-third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
    color: #FFFFFF;
    background-color: var(--primary-third-color);
}

/*======================== Examples ========================  */
.examples-list {
    flex-wrap: wrap;
    row-gap: 48px; 
}

@media screen and (min-width: 768px) {
    .examples-list {
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px;
        }
}

@media screen and (min-width: 1200px) {
    .examples-list {
        row-gap: 48px;
        }
}

.examples-item {
    flex-basis: calc((100% - 0px)/1);
    /* margin-right: 24px;
    margin-bottom: 48px; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .examples-item {
        flex-basis: calc((100% - 24px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .examples-item {
        flex-basis: calc((100% - 48px)/3);
    }
}

.examples-item-link{
    display: block;
}

.examples-item-link:hover,
.examples-item-link:focus {
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16);
}

.examples-description-wrapper {
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 32px 16px 32px 16px;
    border-top: 0;
}

.examples-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.examples-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
}

.exaples-payment {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.overlay {
    position: absolute;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding-left: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item-wrapper {
    position: relative;
    overflow: hidden;
}

.examples-item-link:hover .overlay,
.examples-item-link:focus .overlay {
    transform: translate(0, 0);
}

/*======================== MODAL WINDOW ========================  */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

@media screen and (orientation: landscape) {
    .backdrop{
        overflow-y: auto;
    }
    .modal {
        top: 10%;
        transform: translateX(-50%);
    }
    
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-color: #E7E9FC;
}

.modal-close-btn:focus {
    background: #404BBF;
    fill: #FFFFFF;
    border: none;
}


.modal-item {
    width: 360px;
    height: 24px;
    left: 540px;
    top: 152px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}


/*======================== /MODAL WINDOW ========================  */

/*======================== FORM WINDOW ========================  */
.modal-item {
    width: 360px;
    height: 24px;
    left: 540px;
    top: 152px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-input-desc {
    display: block;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
}


.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color: #000000;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--primary-third-color);
}

.modal-form-input:focus + .modal-form-input-icon{
    fill: var(--primary-third-color);
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
    width: 100%;
    height: 130px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--primary-third-color);
}

.modal-form-decs {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    margin-bottom: 24px;
}

.modal-form-decs::before {
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1.25px solid var(--primary-text-color);
    border-radius: 2px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.modal-form-check:checked + .modal-form-decs::before {
    background-image: url(../img/checkbox.svg);
    background-color: var(--primary-third-color);
    border: 1.5px solid var(--primary-third-color);
}

.modal-form-check:focus + .modal-form-decs::before {
    outline: none;
    border-color: var(--primary-third-color);
}

.modal-form-submit {
    align-self: center;
    width: 170px;
    padding: 16px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*======================== /FORM WINDOW ========================  */


/*======================== MOBILE MENU ========================  */
.menu {
    display: flex;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    /* color: inherit; */
    text-decoration: none;
}


.menu-toggle.js-close-menu {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}


.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: none;
    background-color: #404BBF;
    fill: #FFFFFF;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

/* .menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
} */

.menu-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px 40px;
    background-color: #FFFFFF;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    text-decoration: none;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
    color: var(--primary-third-color);
}

@media screen and (min-width: 768px) {
    .is-active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #4D5AE5;
        border-radius: 2px;
        display: block;
        margin-top: 20px;
        left: 0;
    }
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--primary-third-color);
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts.list {
    display: block;
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: var(--primary-third-color);
}

.mobile-contacts-link.accent {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-third-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list {
    display: flex;
    align-items: center;
    gap: 56px;
}

/*======================== /MOBILE MENU ========================  */